// @tailwind base;
// @tailwind components;
// @tailwind utilities;
// list
.ant-spin-container{
    padding-top: 2rem;
}

.ant-table{
    width: 95%;
    margin: auto;
    border: 1px solid black;
}

.ant-table-thead > tr > *{
    background-color : #bae8e8 !important;
    font-weight: 700;
    font-size: 16px;
}

.ant-table-body{
    max-height: 30rem !important;
}

.ant-table-row{
    line-height: 0.05;
}

.ant-table-pagination.ant-pagination{
    margin-top: 3.7rem;
}

.ant-table-pagination-right {
    justify-content: center;
}

.ant-pagination-options-size-changer.ant-select{
    display: none;
}
.ant-pagination-item:hover,
.ant-pagination-item > a:hover,
.ant-pagination-item-link:hover,
.ant-pagination-item-active,
.ant-pagination-item-active > a {
  border-color: #ffd803 !important;
  color: #ffd803 !important;
}

.ant-table-container{
    position: relative;
}

// add
.add{
    position: absolute;
    top: 2rem;
    right: 3rem;
}

.ant-btn-primary{
    width: 6rem;
    background-color: #ffd803;
    border: 1px solid #ffd803;
}

.ant-btn-primary:hover {
    background-color: #ffd803;
    border-color: #272343;
    color: #272343;
}

.add-btn:hover {
    background-color: #ffd803;
    border-color: #272343;
    color: #272343;
}

.input-category{
    height: 36px;
    width: -webkit-fill-available;
    padding-left: 6px;
}   

.ant-btn{
    color: #272343;
}
