@tailwind base;
@tailwind components;
@tailwind utilities;

.list-ht{
    position: relative;
}
.ant-pagination-options{
    position: absolute;
    left: 184px;
    top: -90px;
}
.selectBox{
  border: 2px solid black;
  
}

.ant-table-pagination-right{
    justify-content: center;
}

.ant-pagination-item-active a{
    background-color: #269268;
    border-color: black;
}

.ant-table{
    @apply mr-52 ml-52 mt-16 mb-24 rounded-xl;
    border: 2px solid black;
}
.ant-pagination{
    margin-top: 20px;
}
.add-btn{
    /* background-color: #4ec9d2; */
    border: none;
    border-radius: 4px;
    position: absolute;
    left: 76rem;
    bottom: 6rem;
    width: 6rem;
}

.add-btn:hover{
    /* background-color: #4ec9d2; */
    opacity: 0.7;
    /* color: white; */
}

.input-category{
    height: 36px;
    width: -webkit-fill-available;
    padding-left: 6px;
}
.add-btn{
    /* position: absolute; */
    left: 62rem;
    top: 2rem;
    width: 8rem;
}

.input-category{
    height: 36px;
    width: -webkit-fill-available;
    padding-left: 6px;
} 
