.container-list {
  background-color: white;
  & > p {
    font-size: 14px;
  }
}
h1 {
  font-size: 36px;
}
.box-body {
  padding: 1rem 0;
}

.ant-table-thead > tr > * {
  background-color: #bae8e8 !important;
  font-weight: 700 !important;
}

.ant-table-pagination-right {
  margin-top: 2.5rem !important;
  justify-content: center !important;
}
.container-button {
  display: flex !important;
  & > button {
    justify-content: flex-end !important;
  }
}
.mgt-28 {
  margin-top: -2.8rem !important;
}
.mgt-3 {
  margin-top: 2.8rem !important;
}
tr th:nth-child(1),
tr td:nth-child(1) {
  text-align: center;
}
.ant-pagination-options {
  display: none !important;
}
.ant-btn-primary {
  border-color: #ffd803 !important;
  background-color: #ffd803 !important;
  color: rgba(0, 0, 0, 0.85) !important;
  &:hover {
    color: rgba(0, 0, 0, 0.85);
  }
}
.ant-modal-wrap {
  transform: translateY(170px);
}
.ant-btn:hover,
.ant-btn:focus {
  color: #ffd803;
  background: #fff;
  border-color: #ffd803;
}
.ant-layout-content {
  margin: 15px 16px !important;
}
