.JFTopPage{
    font-size: 14px;
    h3{
        color: #2d334a;
        font-size: 24px
    }
    .Jf__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        h1{
            color: #2d334a;
            font-size: 36px;
        }
        .admin__top{
            display: flex;
            h3{
                color: #2d334a;
                padding-left: 10px;
            }
        }
    }
    .jf__main{
        h3{
            color: #2d334a;
            font-size: 24px;
        }
    }
    .status__global{
    margin-left: 50px;
    margin-top: 50px;
    width: 100%;
    }
    .progress{
        .search__task{
            margin-top: 20px;
            input{
                border: 1px solid #2d334a;
               padding: 10px;
                
            }
            button{
                border: 1px solid #2d334a;
                padding: 21px !important;
                span{
                    color: #2d334a;
                    transform: translate(-13px, -14px)!important;
                }
            }
            
        }
        
       
    }
    .ant-layout-content, .site-layout-background{
        margin-top: 0 !important;
        
    }
    
}