.item-task{
    .ant-slider-track{
        background-color: rgb(197, 196, 135);
        height: 20px;
    }
    .ant-slider-handle{
        display: none;
    }
    .ant-slider-track:hover{
        background-color: rgb(197, 196, 135);
        opacity: 0.7;
    }
}