.JFList {
    .ant-slider-track {
        background-color: #ffd803 !important;
    }
    .ant-slider-rail {
        background-color: #e3f6f5 !important;
    }
    .ant-slider-handle {
        background-color: #272343 !important;
    }
    thead[class*="ant-table-thead"] th {
        background-color: #bae8e8 !important;
    }
    h1 {
        font-size: 40px;
        margin-left: 0px;
        margin-bottom: 0px;
        color: #272343;
    }
    .icon {
        font-size: 18px !important;
        font-weight: 600;
        :hover {
            color: #ffd803;
        }
    }
    .ant-pagination-item > a:hover,
    .ant-pagination-item-active > a,
    .ant-pagination-item-active {
        background-color: #ffd803 !important;
        color: #272343 !important;
    }
    .ant-pagination-item-link:hover {
        border-color: #ffd803;
        color: #ffd803;
    }
    #filter {
        font-size: 25px;
        color: #ffd803;
        position: relative;
    }
    .ant-popover {
        width: 400px !important;
    }
}
