.TaskList {
  thead[class*="ant-table-thead"] th {
    background-color: #bae8e8 !important;
  }
  .ant-input:hover,
  .ant-input:focus {
    border: none;
  }
  .active {
    border-radius: 15px !important;
    border-color: #ffd803 !important;
    background-color: #ffd803 !important;
  }

  .ant-btn-text:hover
 {
    border-radius: 15px !important;
    border-color: #ffd803 !important;
    background-color: #ffd803 !important;
  }
  .label-sl {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 40px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: #272343;
  }
  .listMember {
    .anticon {
      font-size: 11px !important;
    }
  }
  .anticon {
    font-size: 16px !important;
  }

  .icon {
    font-size: 18px !important;
    font-weight: 600;
    :hover {
      color: #ffd803;
    }
  }
  .searchAdd {
    display: flex;
    align-items: center;
  }
  .ant-btn,
  .ant-btn {
    color: black;
    border-color: #d9d9d9;
  }
  .ant-btn {
    color: black;
  }
  .demo-option-label-item > span {
    margin-right: 6px;
  }
  .save {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .ant-tag {
    display: flex;
    align-items: center;
  }
}
