.TemplateTaskList {
  thead[class*="ant-table-thead"] th {
    background-color: #bae8e8 !important;
  }
  .ant-input:hover,
  .ant-input:focus {
        border: none;
  }
  .searchAdd{
    display: flex;
    align-items: center;
}
  .icon {
    font-size: 18px !important;
    font-weight: 600;
    :hover {
        color: #ffd803;
    }
  }
}