@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    @apply flex bg-blue-200 w-full;
    padding-left: 0px;
}

.logo{
    width: 60px;
    height: 60px;
    padding: 4px;
}

.menu{
    @apply bg-blue-200 flex items-center;
    font-size: 20px;
}

.sub-menu{
    @apply flex items-center;
}

.sub-item{
    @apply hover:bg-blue-200;
}

.right-menu{
    @apply flex justify-end mr-2;
}
