.navbar {
    background-color: #e3f6f5;
    color: #272343;
    font-size: 16px;
}
.bell-icon {
    color: #ffd803;
}
.number-notifications {
    color: #F14E2B;
}
.user-icon-container {
    border-radius: 50%;
    background-color: #ffd803;
} 

.noti {
    width: 600px;
    
    .noti-header{
        display: flex;
        justify-items: center;
    }

    .noti-input{
        width: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }

}

