.navbar {
    background-color: #E3F6F5;
}
.bell-icon {
    color: #FDAB40;
}
.number-notifications {
    color: #F14E2B;
}
.user-icon-container {
    border-radius: 50%;
    background-color: #FDAB40;
} 