.JFTopPage{
    .Jf__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .progress{
        .search__task{
            input{
                outline: none;
                width: 100%;
                border-radius: 5px;
                box-shadow: none;
                border: 2px solid #ced6e0;
                transition: all 0.3s ease-in-out;
                font-size: 18px;
                padding: 5px 15px;
                background: none;
            }
            input:hover{
                border: 2px solid #bae8e8;
            }
        }
    }
}