.ant-btn-primary {
    color: #272343;
    background: #ffd803;
    border-color: #ffd803;
    
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #272343;
    background: #ffd803;
    border-color: #ffd803;
}

.ant-form label {
    font-size: 25px;
}

