.wrapper{
    padding: 0 20px;
    .list__button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .button__right{
            button{
                margin-left: 15px;
            }
          
        }
    }
    .big__title{
        margin-top: 20px;
        h1{
            font-size: 36px;
            color: #2d334a;
        }
    }
    .info__tplt{
        .rela{
            margin: 10px 0;
        }
        margin-top: 30px;
        font-size: 14px;
        .info__center{
            .layber{
                p{
                    font-size: 14px;
                }
            }
        }

        .ef{
            padding: 10px 20px ;
            margin:0 5px;
            border:  1px solid #caccd1;
            border-radius: 6px;
        }
        .item__right{
            padding: 10px ;
            border:  1px solid #caccd1;
            border-radius: 6px;
        }
    }
    .demo-infinite-container {
        height: 200px;
        
        overflow: auto;
      }
      .des{
        padding: 13px ;
        border:  1px solid #caccd1;
        border-radius: 6px;
        line-height: 35px;
      }
      .list-items{
          a:hover{
color: #ffd803;
          }
      }
}