@use 'sass:map';

$colors: (
  0: red,
  1: green,
  2: blue,
  3: orange,
  4: violet,
  5: 'GreenYellow',
  6: 'HoneyDew',
  7: 'HotPink',
  8: 'IndianRed',
  9: 'Indigo',
  10: 'Ivory',
  11: 'Khaki',
  12: 'Lavender',
  13: 'LavenderBlush',
  14: 'LawnGreen'
);
.schedule-gantt {
  @each $index, $color in $colors {
    .bg-category-#{$index} {
      background-color: #{$color};
    }
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 4px 10px;
  }

  // .ant-table-cell {
  //   padding: ;
  // }
}
